dtd/bideoak.dtd

<!ELEMENT bideoak (bideoa)*>
<!ATTLIST bideoak azkenid IDREF #REQUIRED>
<!ELEMENT bideoa (titulua, linka, azalpena?, kategoria, likes, irudia)>
<!ATTLIST bideoa id ID #REQUIRED>
<!ELEMENT titulua (#PCDATA)>
<!ELEMENT linka (#PCDATA)>
<!ELEMENT azalpena (#PCDATA)>
<!ELEMENT kategoria (#PCDATA)>
<!ELEMENT likes (erabiltzailea)*>
<!ELEMENT erabiltzailea (#PCDATA)>
<!ELEMENT irudia (#PCDATA)>